<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Admin/Desktop/session4/projet de synthese/automatisation-alfresco/TP2-Abdellah/testng.xml"><classes/></test><test verbose="2" preserve-order="true" name="C:/Users/Admin/Desktop/session4/projet de synthese/automatisation-alfresco/TP2-Abdellah/src/test/java/SauceDemo/com/Connexion.java"><classes><class name="SauceDemo.com.Connexion"><methods><include name="LoginTest_nominal"/><include name="LoginTest_invalides"/></methods></class></classes></test><test verbose="2" preserve-order="true" name="C:/Users/Admin/Desktop/session4/projet de synthese/automatisation-alfresco/TP2-Abdellah/src/test/java/SauceDemo/com/Produit.java"><classes><class name="SauceDemo.com.Produit"><methods><include name="Verifier_produits_trier"/></methods></class></classes></test></suite>